body{
	font-family:Microsoft Jhenghei light;
}

p{
	font-size:2em;
}

.btn-info{	
	background-color:#0066ff;
}
#pd{
	font-size:1em;
}

.table-hover{
	width:70%;
}

a:hover{
	text-decoration:none;
}
#main{
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3) ), url(images/img2.jpg) no-repeat center;
	height:100vh;
	font-family:Microsoft Jhenghei light;
}

.mymain{
	padding:12% 5%;
}

.main-head{
	color:white; font-family:Impact; font-size:5.5em;
}
thead{
	background-color:#0066ff; color:white; font-family:Microsoft Jhenghei light;
}